{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{% static 'app/css/login-signUp.css' %}">
<link rel="stylesheet" href="{% static 'app/css/forgot-password.css' %}">
{% endblock cssLink %}

{% block content %}
    
<div class="wrapper">

    <form action="" method="post">
        <h1>Password Reset</h1>
        {% csrf_token %}
        {% for fm in form %}
            <div class="input-box">
                {{fm}} <small>{{fm.errors|striptags}}</small> <br>
            </div>
        {% endfor %}
        
        <button type="submit" class="btn" id="update-btn">Reset</button>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock content %}