{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{% static 'app/css/login-signUp.css' %}">
<link rel="stylesheet" href="{% static 'app/css/password_reset.css' %}">
{% endblock cssLink %}

{% block content %}
    
<div class="wrapper">

    <form action="" method="post">
        <h1>Password Update</h1>
        {% csrf_token %}
        {% for fm in form %}
            <div class="input-box">
                {{fm}} <small>{{fm.errors|striptags}}</small> <br>
            </div>
        {% endfor %}

        <button type="submit" class="btn" id="update-btn">Update</button>

        <div class="register-link">
            <p><a href="{% url 'home' %}"><i class='bx bx-arrow-back'></i> Back to Home</a></p>
        </div>
    </form>
</div>

{% endblock content %}