.wrapper {
    width: 600px;
}

#update-btn {
    margin-top: 20px;
}
small {
    font-size: 0.7rem;
}

@media(max-width:450px) {
    .wrapper {
        width: 325px;
    }
    .wrapper h1 {
        font-size: 30px;
    }
}